<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>

    <h1>Add User</h1>

    <form action="/user/add" method="post">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login" required><br><br>

        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="birth_date">Birth Date:</label><br>
        <input type="number" id="birth_date" name="birth_date" required><br><br>

        <input type="submit" value="Add User">
    </form>
    <a href="/user/view">View All Users</a>

</body>
</html>