<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Магазин канцтоварів</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <h1>Ласкаво просимо до магазину канцтоварів!</h1>
    <p class="description">У нас ви знайдете все необхідне для школи, офісу та творчості — ручки, зошити, папір, фарби та багато іншого.</p>
    <div class="buttons">
        <a href="/login">Увійти</a>
        <a href="/register">Зареєструватись</a>
    </div>
</body>
</html>
